# Multiple Linear Regression

### Before running MLR take care of below Assumptions

In [3]:
#1.Linearity
#2.Homoscedasticity
#3.Multivariate Normality
#4.Independence of errors
#5.Lack of Multicollinearity

### Import libraries and data file

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
df =pd.read_csv("50_Startups.csv")
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

#### Dummy variables

In [4]:
#if catagorical variables covert to dummy

In [6]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [8]:
# State is a catagorical variable here

In [9]:
#Use One Hot Encoding

In [10]:
# Dummy variable trap.. so omit 1 dummary variable, else it can interfere with coefficient

In [12]:
#pee value... oh! so valuable .. what a relief!!!!

In [18]:

#statistical significance

#selectiong significance level.. SL=0.05, SLENTER, SLSTAY

#### Proceeding

### Train-Test Splitting

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size =0.2, random_state= 0)

In [15]:
#Methods

#1 All -in all variables[ carefull -garbage in -garbage out]
#2 Backward Elimination
#3 Forward Elimination
#4 Bidirectional Elimination
#5 Score Comparison

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(),[3])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [26]:
##  IN MULIPLE LINEAR REGRESSION FEATURE SCALING IS NOT NECESSARY

In [27]:
##CLASS WILL Automatically identifies best features models|

In [29]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

### Predicting Results

In [32]:
y_pred = regressor.predict(X_test)

In [42]:
np.set_printoptions(precision=2)

In [44]:
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[103015.2  103282.38]
 [132582.28 144259.4 ]
 [132447.74 146121.95]
 [ 71976.1   77798.83]
 [178537.48 191050.39]
 [116161.24 105008.31]
 [ 67851.69  81229.06]
 [ 98791.73  97483.56]
 [113969.44 110352.25]
 [167921.07 166187.94]]